@model IEnumerable<ASP.NET_CRUD_APP.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="d-table-cell">Id</th>
                <th class="d-table-cell">Name</th>
                <th class="d-table-cell">Starting Miles</th>
                <th class="d-none d-md-table-cell">Ending Miles</th>
                <th class="d-none d-md-table-cell">Total Miles</th>
                <th class="d-none d-md-table-cell">Stops</th>
                <th class="d-none d-md-table-cell">Total Pay</th>
                <th class="d-none d-md-table-cell">Pallets</th>
                <th class="d-none d-md-table-cell">Super Stop</th>
                <th class="d-table-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-table-cell">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td class="d-table-cell">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="d-table-cell">@Html.DisplayFor(modelItem => item.StartingMiles)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.EndingMiles)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.TotalMiles)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Stops)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.TotalPay)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.Pallets)</td>
                    <td class="d-none d-md-table-cell">@Html.DisplayFor(modelItem => item.SuperStop)</td>
                    <td class="d-table-cell">
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>